body {
    margin: 0;
}
#app {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.norma html, .norma body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.norma body {
    display: flex;
    flex-direction: column;
}

/*header rectangle*/
.norma .rectangle{
    width:100%;
    height:60px;
    background:white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

/*------logo------*/
.norma img#logo {
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 2;
}

/*------retour------*/
.norma .retour {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*------footer------*/
.norma footer {
    /*position: relative;*/
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: auto;
    background-image: url("../img/footer_nav/footer.png");
    padding-top: 29.95px;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.norma footer > p  {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.norma footer > a {
    display:block;
    text-align:center;
}

.norma img#footer, img#bas_connexion {
    position: absolute;
    z-index: -1;
    bottom: 0;
}

/*------reseaux sociaux------*/
.norma footer li {
    padding: 0 10px 0 10px;
}

.norma footer ul {
    padding: 0;
}
.norma .reseaux.module-footer {
    text-align: center;
}
/*------index------*/
.norma main.index, .norma  main {
    margin: 60px 5px 50px 5px;
}
/*------à propos------*/
/* contact*/
.norma .contact textarea, .norma .contact input {
    width: 100%;
    border-radius: 17px;
    border: none;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
}

.norma #contact label{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.norma .contact input, .norma .contact textarea {
    background-color: #FFFFFF;
    color: #666666;
    border: none;
    border-radius: 17px;
}

.norma #contact {
    box-sizing : border-box;
    border-radius:35px;
    background-color:#f2f2f2;
    padding:20px;
    width: 100%;
    height: 500px;
    max-width: 700px;
    margin:0 auto;
}

.norma .formulaire_contact {
    margin: 0 10px 0 10px;
    position: relative;
}

.norma #contact .nom, .norma #contact .prenom, .norma #contact .mail2, .norma #contact .msg {
    padding: 5px 0 5px 0;
}

.norma textarea#msg {
    height: 200px;
}

.norma #contact button.envoyer {
    width: 150px;
    height: 40px;
    border-radius: 12px;
    border: none;
    float: right;
}

.norma h3#equipe, .norma .contact > h3,.norma #titre h3 {
    height: 30px;
    border-radius: 0 60px 60px 0;
    text-align: left;
    padding: 10px 0 0 20px;
    margin-left: -10px;
    width: 100%;
    font-size: 15px;
}

/*a propos*/
.norma .a-propos {
    position: relative;
}

.norma #titre {
    display: flex;
    justify-content: flex-end;
    /*margin-right: -10px;*/
}

.norma #titre h3 {
    border-radius: 60px 0 0 60px;
}

.norma .a-propos p {
    margin: 15px 15px 5px 15px;
    position: relative;
}

/*equipe*/
.norma .equipe {
    position: relative;
    top: 35px;
}

.norma .lena, .norma .marine, .norma .nina {
    display:inline-block;
    text-align: center;

}

/*------mentions legales, parametres, mon profil(parametres)------*/
.norma .mentions-legales, .norma .parametres, .norma .parametres_profil {
    position: relative;
}

.norma .mentions-legales p, .norma .mentions-legales h3 {
    margin-left: 36px;
    margin-right: 36px;
}
.norma .mentions-legales h1 {
    text-align: center;
}

.norma .mentions-legales header, .parametres header {
    border-bottom:1px solid #707070;
    margin: 0;
    height: 50px;
}

.norma .mentions-legales h3:first-of-type {
    margin-top: 30px;
}

/*parametres, mon profil(parametres), envoi, mails, premium, vendre un jeu, porte monnaie, notifications*/
.norma .parametres header {
    text-align: center;
}

.norma .parametres_profil h1, .norma .envoi h1, .norma .mails h1, .norma .premium h1, .norma .vendre-un-jeu h1,.norma  #porte-monnaie h1,.norma  .notif h1 {
    text-align: center;
    margin-top: 20px;
  }

.norma .parametres ul, .norma .parametres_profil ul {
    padding-left: 0;
}

.norma .parametres_profil ul {
    margin-bottom: 40px;
}

.norma .parametres li,.norma .parametres_profil li {
    padding: 15px 0 15px 0;
}

.norma .parametres li:first-of-type, .norma .parametres_profil li:first-of-type  {
    border-bottom:42px solid #E4E4E4;
    padding-bottom: 15px;
    padding-top: 0;
}

.norma .parametres li:nth-of-type(2) {
    border-bottom:1px solid #707070;
    border-top:1px solid #707070;
}

.norma .parametres li:nth-of-type(3), .norma .parametres_profil li:nth-of-type(4), .norma .parametres_profil li:nth-of-type(6), .norma .parametres_profil li:nth-of-type(7), .norma .parametres_profil li:nth-of-type(8) {
    border-bottom:42px solid #E4E4E4;
}

.norma .parametres li:nth-of-type(4) {
    border-top:1px solid #707070;
    border-bottom:42px solid #E4E4E4;
}

.norma .parametres li:nth-of-type(5) {
    border-top:1px solid #707070;
    border-bottom:42px solid #E4E4E4;
}

.norma .parametres li:nth-of-type(6), .norma .vendre-un-jeu .prix {
    border-top:1px solid #707070;
    border-bottom:1px solid #707070;
}

.norma .parametres_profil header, .norma .envoi header, .norma .mails header, .norma .mails, .norma .vendre-un-jeu header, .norma #porte-monnaie header {
    border-bottom:42px solid #E4E4E4;
}

.norma .mails {
    padding-bottom: 20px;
}

.norma .envoi .retour button, .norma .parametres_profil .retour button, .norma .premium .retour button {
    position: absolute;
    top: -5px;
}

.norma .mails .retour button {
    position: absolute;
    top: 60px;
}

.norma .vendre-un-jeu .retour button, .norma #porte-monnaie .retour button, .norma .notif .retour button {
    position: absolute;
    top: 65px;
}

.norma .parametres_profil label, .norma .parametres_profil input, .norma .envoi input, .norma .envoi label {
    display: table-cell;
}

.norma .parametres_profil button, .norma .parametres_profil p, .norma .parametres_profil a {
    display: inline-block;
}

.norma .parametres_profil li:nth-of-type(2),.norma .parametres_profil li:nth-of-type(3), .norma .parametres_profil li:nth-of-type(5), .norma .vendre-un-jeu .etat, .norma .notif header {
    border-bottom:1px solid #707070;
}

.norma .parametres_profil input, .norma .envoi input {
    border-radius: 17px;
    height: 20px;
    padding: 10px;
}

/*bouton*/
.norma ul#parametre_profil button {
    padding: 0;
    width: 80px;
}

/*croix, fleche retour*/
.norma .croix button{
    position: relative;
    top: -43px;
    margin-left: 30px;
}

.norma svg#croix {
    width: 16px;
    height: 16px;
}

.norma svg#left_arrow {
    width: 18px;
    height: 20px;
}

/*envoi*/
.norma .envoi {
    position: relative;
}

.norma form#envoi {
    box-sizing : border-box;
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    padding: 20px 15px 0 15px;
}

.norma button.terminer {
    display: block;
    margin : 0 auto;
}

.norma .envoi input {
    width: 100%;
    border-radius: 17px;
    border: none;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
}

.norma #envoi label{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

/*premium*/
.norma .premium {
    margin: 0 15px 30px 15px;
    position: relative;
}

.norma .premium h2 {
    padding-left: 5px;
}

.norma .avantages p, .norma .premium p {
    text-align: center;
}

.norma .avantages > .regles-premium > p,.norma  .avantages > .pas-pubs > p {
    text-align: left;
}

.norma .pas-pubs h3, .norma .pas-pubs figure, .norma .regles-premium h3, .norma .regles-premium figure {
    display: inline-block;
}

.norma .pas-pubs figure, .norma .regles-premium figure {
    margin-right: 20px;
}

.norma .pas-pubs h3, .norma .regles-premium h3 {
    margin: 0;
}

.norma .pas-pubs p, .norma .regles-premium p {
    padding-left: 120px;
    margin: 0;
}

.norma .pas-pubs  h3, .norma .pas-pubs p, .norma .regles-premium h3, .norma .regles-premium p {
    position: relative;
    top: -50px;
}

.norma .pas-pubs, .norma .regles-premium  {
    box-sizing : border-box;
    width: 100%;
    max-width: 1000px;
    margin:20px auto 0 auto;
    padding-top: 20px;
    position: relative;
    height: 150px;
}

.norma .avantages h2 {
    box-sizing : border-box;
    width: 100%;
    max-width: 1000px;
    margin:20px auto 0 auto;
    padding-top: 20px;
    position: relative;
}

.norma .demarrer-abonnement button {
    display: block;
    margin : 0 auto;
    width: 260px;
}

/*accueil*/
/* recherche*/
.norma .recherche {
    background-color: #ffffff;
    margin-left: -10px;
}

.norma #maRecherche {
    padding: 5px 0 5px 20px;
}

.norma .recherche button {
    margin-top: 4px;
    position: relative;
    top: 3px;
}

/* vendre, notification*/
.norma .boutons {
    display: flex;
    justify-content: flex-end;
    height: 0;
}
.norma .vendre-jeu, .norma .notifications{
    display: inline-block;
    position: relative;
    top: -45px;
}

/*j-cartes*/
.norma #dooble-visit, .norma #bataille-visit, .norma #jeu-dames-visit, .norma #loup-garou-visit {
    box-sizing : border-box;
    width: 100%;
    max-width: 800px;
    margin:0 auto 15px auto;
    border: 3px solid #cf4c68;
    background-color: white;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.norma img#img_dooble, .norma img#img_loup_garou, .norma img#img_bataille, .norma img#img_jeu_dame {
    width: 80%;
}

.norma .acheter, .norma .ajouter-variante {
    margin: 0 auto;
    position: relative;
     box-sizing : border-box;
     width: 100%;
     max-width: 150px;
 }

.norma .ajouter-variante button {
     margin-bottom: 15px;
 }

.norma .b_regles_variante {
    margin: 0 auto;
    width: 150px;
}

.norma #loup-garou-visit ul, .norma #bataille-visit ul, .norma #jeu-dames-visit ul, .norma #dooble-visit ul {
    padding-left: 0;
}

/*ajouter variante*/
.norma form#ajouter-variante {
    box-sizing : border-box;
    width: 100%;
    max-width: 800px;
    margin:0 auto 15px auto;
    border: 3px solid #cf4c68;
    background-color: white;
    border-radius: 30px;
    padding: 30px 20px 30px 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.norma #ajouter-variante label, .norma #ajouter-variante textarea {
    display: table-cell;
}

.norma #ajouter-variante textarea {
    width: 100%;
    border-radius: 17px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 20px;
    margin-top: 15px;
    height: 200px;
}

/*commentaire*/
.norma .commentaire h2 {
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

.norma .commentaire textarea, .norma .commentaire input {
    width: 100%;
    border-radius: 13px;
    border: none;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.norma .commentaire textarea {
    height: 200px;
}

.norma .commentaire input#poster_comm {
    float: right;
}

.norma #commentaire label{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.norma #commentaire {
    box-sizing : border-box;
    border-radius:20px;
    padding:20px;
    width: 100%;
    height: 500px;
    max-width: 750px;
    margin:0 auto;
}

.norma .commentaire {
    margin: 0 auto;
    position: relative;
    max-height: 400px;
    max-width: 800px;
    border-radius: 20px;
}

.norma .commentaire button {
    float: right;
}

/*ajouter regle*/
.norma #ajouter-regle {
    box-sizing : border-box;
    width: 100%;
    max-width: 800px;
    margin:0 auto 15px auto;
    border: 3px solid #cf4c68;
    background-color: white;
    border-radius: 30px;
    padding: 30px 20px 30px 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.norma #ajouter-regle input, .norma #ajouter-regle textarea, .norma #ajouter-regle select {
    width: 100%;
    border-radius: 17px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 20px;
    margin-top: 15px;
}

.norma #ajouter-regle textarea {
    height: 200px;
}

.norma #ajouter-regle .nom-j, .norma .ajouter-des-photos {
    margin: 0 auto;
    position: relative;
    box-sizing : border-box;
    width: 100%;
}

.norma #ajouter-regle .nom-j {
    max-width: 90px;
}

.norma .ajouter-des-photos {
    max-width: 230px;
}

.norma .ajouter-des-photos > a > p{
    max-width: 240px;
    position: relative;
    top: -18px;
}

/*pages connexion et inscription, mdp oublie*/

.norma body.connexion img#logo, .norma body.inscription img#logo, .norma body.mdp-oublie img#logo {
    width: 234px;
    height: 70px;
    position: relative;
    margin: 0 auto;
}

.norma #container {
    margin: 0 10px 0 10px;
    position: relative;
}

.norma #connexion, .norma div.mdp-oublie,.norma #inscription {
    box-sizing : border-box;
    padding:10px;
    width: 100%;
    max-width: 700px;
    margin:0 auto;
}

.norma #connexion label, .norma #connexion input, .norma #connexion a, .norma #inscription button, .norma #inscription label, .norma #inscription input, .norma #inscription button, .norma #vendre-jeux input, .norma #vendre-jeux label {
    display: table-cell;
}

.norma #connexion input, .norma div.mdp-oublie input {
    background-color: #ffe9aa;
    border: none;
    border-radius: 25px;
    color: #000000;
    margin: 10px 0 20px 0;
    padding: 0 15px 0 15px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.norma #inscription input {
    background-color: #ffe9aa;
    border: none;
    border-radius: 25px;
    color: #000000;
    margin: 5px 0 5px 0;
    padding: 0 15px 0 15px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.norma div.connexion {
    margin: 0 auto;
    max-width: 240px;
}

.norma div.mdp-o, .norma div.inscription {
    margin: 0 auto;
    max-width: 150px;
}

.norma button.connexion, .norma button.inscription, .norma button.mdp-o {
    margin: 0 auto;
    max-width: 240px;
}

.norma #container p:nth-child(2), .norma #container a {
    display:block;
    text-align:center;
}

.norma #connexion a {
    float: right;
}

.norma #connexion input {
    height: 56px;
}

.norma #inscription input, .mdp-oublie input {
    height: 35px;
}

.norma #inscription .prenom, .norma #inscription .nom {
    margin: 0;
}


.norma button.connexion {
    background-color: #cf4c68;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    height: 56px;
    width: 250px;
    margin-top: 10px;
}

.norma #container p, .norma #inscription p {
    text-align: center;
}

/*boutons "ajouter*/
.norma .ajouter {
    margin: 0 auto;
    position: relative;
    max-width: 150px;
    border-radius: 20px;
}

.norma .ajouter button {
    box-sizing : border-box;
    width: 100%;
    margin:15px auto 0 auto;
}

/*vendre un jeu*/
.norma .vendre-un-jeu .ajouter-des-photos {
    margin-top: 50px;
    margin-bottom: 25px;
}

.norma .vendre-un-jeu .nom-j, .norma .prix, .norma .etat {
    padding: 15px 0 15px 0;
}

.norma .vendre-un-jeu .ajouter {
    margin-top: 50px;
}

/*porte monnaie*/
.norma .montant-dispo h3 {
    color: #707070;
    font-size: 17px;
    text-align: center;
}

.norma .montant-dispo {
    margin: 0 auto 30px auto;
    position: relative;
    max-width: 280px;
}

.norma button.transfert {
    box-sizing : border-box;
    max-width: 100%;
    margin:0 auto;
}

.norma .solde-initial {
    border-bottom:42px solid #E4E4E4;
    border-top:42px solid #E4E4E4;
}

/*profil*/
.norma .mon-profil {
    margin: 30px 40px 0 40px;
}
.norma .profil {
    border: 3px solid #cf4c68;
    background-color: white;
    box-sizing : border-box;
    width: 100%;
    max-width: 800px;
    margin:0 auto 15px auto;
    border-radius: 30px;
    padding: 30px 20px 30px 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    height: 500px;
}

.norma .porte-monnaie {
    box-sizing : border-box;
    width: 100%;
    max-width: 800px;
    margin:0 auto 15px auto;
    border: 3px solid #cf4c68;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    height: 200px;
    background-color: #cf4c68;
}

.norma .porte-monnaie h4 {
    text-align: center;
    margin: 0;
}

.norma .solde {
    background-color: white;
}

/*notifications*/
.norma .notif h1 {
    margin-bottom: 30px;
}

/*mdp oublie*/
.norma .mdp-oublie p {
    text-align: center;
}

/*responsive*/
@media screen and (max-width: 3000px) {
    /*equipe*/
    .norma h3#equipe, .norma .contact > h3, .norma #titre h3 {
        max-width: 600px;
    }

    .norma .equipe {
        height: 300px;
        position: relative;
        margin: 0 auto;
        max-width: 665px;
    }

    .norma .lena img, .norma .marine img, .norma .nina img {
        width: 130px;
        height: 130px;
    }
    .norma .nina > address > p, .norma .marine > address > p, .norma .lena > address > p {
        font-size: 16px;
    }

    .norma .lena > address > a, .norma .marine > address > a, .norma .nina > address > a{
        padding: 7px 15px 7px 15px;
        border-radius: 60px;
        font-size: 14px;
    }

    .norma .lena {
        position: relative;
    }

    .norma .marine {
        position: relative;
        left: 25px;
        top: -60px;
    }

    .norma .nina {
        position: relative;
        left: 35px;
    }

    /*parametres, vendre un jeu*/
    .norma .parametres a, .norma .parametres_profil label, .norma .parametres_profil a, .norma .parametres_profil p, .norma .mails h3, .norma .vendre-un-jeu label, .norma #porte-monnaie h4   {
        padding-left: 80px;
    }

    .norma .parametres button {
        padding-left: 80px;
    }

    .norma .parametres .fa-chevron-right, .norma .parametres_profil .fa-chevron-right {
        padding-left: 540px;
    }

    /*parametres mon profil, mails, vendre un jeu*/
    .norma .parametres_profil input, .norma .mails input, .norma .vendre-un-jeu input {
        margin-left:80px;
    }

    /*bouton*/
    .norma ul#parametre_profil li:first-of-type button {
        position: relative;
        left: 495px
    }

    .norma ul#parametre_profil li:nth-of-type(5) button{
        position: relative;
        left: 535px;
    }

    .norma ul#parametre_profil li:nth-of-type(6) button{
        position: relative;
        left: 490px;
    }

    /*mails*/
    .norma .mails label {
        padding-left:40px;
    }

    /*accueil*/
    /* recherche*/
    .norma .recherche {
        height: 42px;
        width: 250px;
        border-radius: 0 60px 60px 0;
    }

    .norma #maRecherche {
        padding: 5px 0 5px 20px;
        margin-right: 60px;
    }

    .norma .recherche button {
        margin-top: 4px;
        position: relative;
        top: 3px;
    }



    /*jeux*/
    .norma .centrer {
        margin-top:1vh;
        transform: translateY(-1%);
    }

    .norma .categories {
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-gap: 40px;
        grid-auto-rows: minmax(100px, auto);
        box-sizing : border-box;
        width: 100%;
        max-width: 560px;
        margin: 50px auto 0 auto;
    }

    .norma .j-de-plateau, .norma .j-pions, .norma .j-cartes, .norma .j-des  {
        height: 400px;
        text-align: center;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    }

    .norma .j-de-plateau h2, .norma .j-pions h2, .norma .j-cartes h2, .norma .j-des h2{
        padding-top: 20px;
    }

    .norma .j-pions img, .norma .j-cartes img, .norma .j-des img, .norma .j-de-plateau img {
        padding-top: 30px;
        width: 200px;
        height: 200px;
    }

    /*acheter jeux*/
    .norma .jeux {
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-gap: 40px;
        grid-auto-rows: minmax(100px, auto);
        box-sizing : border-box;
        width: 100%;
        max-width: 560px;
        margin: 50px auto 0 auto;
    }

    /*footer*/
    .norma img#footer.responsive {
        width: 100%;
        max-width: 2000px;
        height: 210px;
        max-height: 500px;
    }

    /*nav*/
    .norma img#img_nav.responsive {
        width: 100%;
        max-width: 2000px;
        height: 300px;
        max-height: 500px;
    }

    .norma img#img_nav {
        position: absolute;
        z-index: -1;
        top: -5px;
        left: 0;
    }

    .norma img#ligne.responsive {
        width: 100%;
        max-width: 2000px;
        height: 60px;
        max-height: 300px;
    }

    .norma img#ligne {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .norma img#bas_connexion.responsive {
        width: 100%;
        max-width: 2000px;
        height: 130px;
        max-height: 300px;
    }

    .norma img#haut_connexion.responsive {
        width: 100%;
        max-width: 2000px;
        height: 130px;
        max-height: 300px;
    }

    .norma .img_visit_regle{
        margin: 0 auto;
        width: 180px;
    }

    .norma .img_visit_regle img {
        width: 180px;
        height: 180px;
    }

}

@media screen and (max-width: 768px) {
    /*equipe*/
    .norma h3#equipe, .norma .contact > h3, .norma #titre h3 {
        max-width: 300px;
    }

    .norma .equipe {
        height: 240px;
        position: relative;
        margin: 0 auto;
        max-width: 440px;
    }

    .norma .lena img, .norma .marine img, .norma .nina img {
        width: 110px;
        height: 110px;
    }

    .norma .nina > address > p, .norma .marine > address > p, .norma .lena > address > p {
        font-size: 14px;
    }

    .norma .lena > address > a, .norma .marine > address > a, .norma .nina > address > a{
        padding: 7px 15px 7px 15px;
        border-radius: 60px;
        font-size: 12px;
    }

    .norma .nina, .norma .marine, .norma .lena {
        position: absolute;
    }

    .norma .marine {
        left: 125px;
        top: -60px;
    }

    .norma .nina {
        left: 250px;
    }

    /*parametres, parametres mon profil, mails */
    .norma .parametres a, .norma .parametres_profil label, .norma .parametres_profil a, .norma .parametres_profil p, .norma .mails h3, .norma #porte-monnaie h4 {
        padding-left: 50px;
    }

    .norma .parametres button {
        padding-left: 50px;
    }

    .norma .parametres .fa-chevron-right, .norma .parametres_profil .fa-chevron-right {
        padding-left: 250px;
    }

    /*parametres mon profil, mails*/
    .norma .parametres_profil input, .norma .mails input {
        margin-left:50px;
    }

    /*bouton*/
    .norma ul#parametre_profil li:first-of-type button {
        position: relative;
        left: 245px
    }

    .norma ul#parametre_profil li:nth-of-type(5) button{
        position: relative;
        left: 285px;
    }

    .norma ul#parametre_profil li:nth-of-type(6) button{
        position: relative;
        left: 240px;
    }

    /*accueil*/
    /* recherche*/
    .norma .recherche {
        height: 42px;
        width: 175px;
        border-radius: 0 60px 60px 0;
    }

    .norma #maRecherche {
        padding: 5px 0 5px 20px;
        margin-right: 0;
    }

    .norma .recherche button {
        margin-top: 4px;
        position: relative;
        top: 3px;
    }

    /* vendre, notification*/
    .norma .vendre-jeu, .norma .notifications{
        display: inline-block;
    }

    .norma .vendre-jeu, .norma .notifications, .norma .recherche {
        flex-direction: row;
    }



    .norma .centrer {
        margin-top: 10vh;
        transform: translateY(-10%);
    }

    .norma .categories {
        display: grid;
        grid-template-columns: repeat(2, 220px);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        box-sizing : border-box;
        width: 100%;
        max-width: 470px;
        margin: 110px auto 0 auto;
    }

    .norma .j-de-plateau, .norma .j-pions, .norma .j-cartes, .norma .j-des  {
        height: 330px;
        text-align: center;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    }

    .norma .j-de-plateau h2, .norma .j-pions h2, .norma .j-cartes h2, .norma .j-des h2{
        padding-top: 20px;
    }

    .norma .j-pions img, .norma .j-cartes img, .norma .j-des img, .norma .j-de-plateau img {
        padding-top: 10px;
        height: 200px;
        width: 170px;
    }

    /*acheter des jeux*/
    .norma .jeux {
        display: grid;
        grid-template-columns: repeat(2, 220px);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        box-sizing : border-box;
        width: 100%;
        max-width: 470px;
        margin: 20px auto 0 auto;
    }

    /*footer*/
    .norma img#footer.responsive {
        width: 100%;
        max-width: 2000px;
        height: 225px;
        max-height: 400px;
    }

    /*nav*/
    .norma img#img_nav.responsive {
        width: 100%;
        max-width: 2000px;
        height: 300px;
        max-height: 400px;
    }

    .norma img#img_nav {
        position: absolute;
        z-index: -1;
        top: -5px;
        left: 0;
    }

    .norma img#ligne.responsive {
        width: 100%;
        max-width: 2000px;
        height: 60px;
        max-height: 300px;
    }

    .norma img#ligne {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .norma img#bas_connexion.responsive {
        width: 100%;
        max-width: 2000px;
        height: 150px;
        max-height: 300px;
    }

    .norma img#haut_connexion.responsive {
        width: 100%;
        max-width: 2000px;
        height: 150px;
        max-height: 300px;
    }

    .norma .img_visit_regle {
        margin: 0 auto;
        width: 180px;
    }

    .norma .img_visit_regle img {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 480px){
    /*equipe*/
    .norma h3#equipe, .norma .contact > h3, .norma #titre h3 {
        max-width: 115px;
    }

    .norma .equipe {
        height: 200px;
        position: relative;
        margin: 0 auto;
        max-width: 320px;
    }

    .norma .lena img, .norma .marine img, .norma .nina img {
        width: 70px;
        height: 70px;
    }

    .norma .nina > address > p, .norma .marine > address > p, .norma .lena > address > p {
        font-size: 10px;
        margin: 0;
    }

    .norma .nina > address > a, .norma .marine > address > a, .norma .lena > address > a {
        padding: 5px 10px 5px 10px;
        border-radius: 60px;
        font-size: 9px;
    }

    .norma .nina, .norma .marine, .norma .lena {
        position: absolute;
    }

    .norma .marine {
        left: 80px;
        top: -40px;
    }

    .norma .nina {
        left: 160px;
    }

    /* a propos---*/
    .norma .a-propos {
        max-width: 400px;
        max-height: 440px;
    }

    .norma .a-propos p{
        text-align: justify;
    }

    /*parametres*/
    .norma .parametres a {
        padding-left:20px;
    }

    .norma .parametres button {
        padding-left: 20px;
    }
    .norma .parametres .fa-chevron-right, .norma .parametres_profil .fa-chevron-right  {
        padding-left: 80px;
    }

    /*parametres mon profil, mails*/
    .norma .parametres_profil input, .norma .mails input {
        margin-left:20px;
    }

    .norma .parametres_profil label, .norma .parametres_profil a, .norma .parametres_profil p, .norma .mails h3, .norma #porte-monnaie h4 {
        padding-left:20px;
    }

    .norma .mails label {
        padding-left:10px;
    }

    /*bouton*/
    .norma ul#parametre_profil li:first-of-type button {
        position: relative;
        left: 100px
    }

    .norma ul#parametre_profil li:nth-of-type(5) button{
        position: relative;
        left: 140px;
    }

    .norma ul#parametre_profil li:nth-of-type(6) button{
        position: relative;
        left: 95px;
    }

    /*accueil*/
    /* recherche*/
    .norma .recherche {
        height: 42px;
        width: 175px;
        border-radius: 0 60px 60px 0;
    }

    .norma #maRecherche {
        padding: 5px 0 5px 20px;
        margin-right: 0;
    }

    .norma .recherche button {
        margin-top: 4px;
        position: relative;
        top: 3px;
    }

    .norma .centrer {
        margin-top: 10vh;
        transform: translateY(-10%);
    }

    .norma .categories {
        display: grid;
        grid-template-columns: repeat(2, 140px);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        box-sizing : border-box;
        width: 100%;
        max-width: 310px;
        margin:0 auto;
    }

    .norma .j-de-plateau, .norma .j-pions, .norma .j-cartes, .norma .j-des  {
        height: 250px;
        text-align: center;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    }

    .norma .j-de-plateau h2, .norma .j-pions h2, .norma .j-cartes h2, .norma .j-des h2{
        padding-top: 20px;
    }

    .norma .j-pions img, .norma .j-cartes img, .norma .j-des img, .norma .j-de-plateau img {
        padding-top: 10px;
        height: 121px;
        width: 100px;
    }

    /*acheter des jeux*/
    .norma .jeux {
        display: grid;
        grid-template-columns: repeat(2, 140px);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        box-sizing : border-box;
        width: 100%;
        max-width: 310px;
        margin:50px auto 0 auto;
    }

    /*footer*/
    .norma img#footer.responsive {
        width: 100%;
        max-width: 2000px;
        height: 180px;
        max-height: 300px;
    }

    /*nav*/
    .norma img#img_nav.responsive {
        width: 100%;
        max-width: 2000px;
        height: 200px;
        max-height: 300px;
    }

    .norma img#img_nav {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .norma img#ligne.responsive {
        width: 100%;
        max-width: 2000px;
        height: 60px;
        max-height: 300px;
    }

    .norma img#ligne {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .norma img#bas_connexion.responsive {
        width: 100%;
        max-width: 2000px;
        height: 150px;
        max-height: 300px;
    }

    .norma img#haut_connexion.responsive {
        width: 100%;
        max-width: 2000px;
        height: 150px;
        max-height: 300px;
    }

    .norma .img_visit_regle {
        margin: 0 auto;
        width: 100px;
    }

    .norma .img_visit_regle img {
        width: 100px;
        height: 100px;
    }
}

