/*------footer------*/
footer > p  {
    text-align: center;
}

footer > a {
    display:block;
    text-align:center;
}
/*------reseaux sociaux------*/
footer li {
    padding: 0 10px 0 10px;
}

footer ul {
    padding: 0;
}
.reseaux.module-footer {
    text-align: center;
}
/*------à propos------*/
/* contact*/
.contact textarea, .contact input {
    width: 100%;
    border-radius: 17px;
    border: none;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
}

#contact label{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.contact input, .contact textarea {
    background-color: #FFFFFF;
    color: #666666;
    border: none;
    border-radius: 17px;
}

#contact {
    box-sizing : border-box;
    border-radius:35px;
    background-color:#f2f2f2;
    padding:20px;
    width: 100%;
    height: 500px;
    max-width: 700px;
    margin:0 auto;
}

.formulaire_contact {
    margin: 0 10px 0 10px;
    position: relative;
}

.nom, .prenom, .mail2, .msg {
    padding: 5px 0 5px 0;
}

textarea#msg {
    height: 200px;
}

#contact button.envoyer {
    width: 150px;
    height: 40px;
    border-radius: 12px;
    border: none;
    float: right;
}

h3#equipe, .contact > h3, .a-propos h3 {
    height: 30px;
    border-radius: 0 60px 60px 0;
    text-align: left;
    padding: 10px 0 0 20px;
    margin-left: -10px;
    width: 100%;
    font-size: 15px;
}

/*a propos*/
.a-propos {
    position: relative;
}

.a-propos h3 { /*!!non fini!!*/
    border-radius: 60px 0 0 60px;
    margin-right: -10px;
    position: relative;
    top: -50px;
    float: right;
}

.a-propos p { /*!!non fini!!*/
    margin: 15px 15px 5px 15px;
    position: relative;
    top: 25px;
}

/*equipe*/
.equipe {
    position: relative;
}

.lena, .marine, .nina {
    display:inline-block;
    text-align: center;

}

/*------mentions legales, parametres, mon profil(parametres)------*/
.mentions-legales, .parametres, .parametres_profil {
    position: relative;
}

.mentions-legales p, .mentions-legales h3 {
    margin-left: 36px;
    margin-right: 36px;
}
.mentions-legales h1 {
    text-align: center;
    margin-top: 40px;
}

.mentions-legales header, .parametres header {
    border-bottom:1px solid #707070;
    margin: 0;
    height: 50px;
}

.mentions-legales h3:first-of-type {
    margin-top: 30px;
}

/*parametres, mon profil(parametres), envoi, mails, premium*/
.parametres header {
    text-align: center;
}

.parametres_profil h1, .envoi h1, .mails h1, .premium h1 {
    text-align: center;
    margin-top: 20px;
  }

.parametres ul, .parametres_profil ul {
    padding-left: 0;
}

.parametres li,.parametres_profil li {
    padding: 15px 0 15px 0;
}

.parametres li:first-of-type, .parametres_profil li:first-of-type  {
    border-bottom:42px solid #E4E4E4;
    padding-bottom: 15px;
    padding-top: 0;
}

.parametres li:nth-of-type(2) {
    border-bottom:1px solid #707070;
    border-top:1px solid #707070;
}

.parametres li:nth-of-type(3), .parametres_profil li:nth-of-type(4), .parametres_profil li:nth-of-type(6), .parametres_profil li:nth-of-type(7), .parametres_profil li:nth-of-type(8) {
    border-bottom:42px solid #E4E4E4;
}

.parametres li:nth-of-type(4) {
    border-top:1px solid #707070;
    border-bottom:42px solid #E4E4E4;
}

.parametres li:nth-of-type(5) {
    border-top:1px solid #707070;
    border-bottom:42px solid #E4E4E4;
}

.parametres li:nth-of-type(6) {
    border-top:1px solid #707070;
    border-bottom:1px solid #707070;
}

.parametres_profil header, .envoi header, .mails header, .mails {
    border-bottom:42px solid #E4E4E4;
}

.mails {
    padding-bottom: 20px;
}

.envoi .retour button, .parametres_profil .retour button, .premium .retour button {
    position: absolute;
    top: -5px;
}

.mails .retour button {
    position: absolute;
    top: 75px;
}

.parametres_profil label, .parametres_profil input, .envoi input, .envoi label {
    display: table-cell;
}

.parametres_profil button, .parametres_profil p, .parametres_profil a {
    display: inline-block;
}

.parametres_profil li:nth-of-type(2),.parametres_profil li:nth-of-type(3), .parametres_profil li:nth-of-type(5) {
    border-bottom:1px solid #707070;
}

.parametres_profil input, .envoi input {
    border-radius: 17px;
    height: 20px;
    padding: 10px;
}
/*bouton*/
ul#parametre_profil button {
    padding: 0;
    width: 80px;
}

/*croix, fleche retour*/
.croix button{
    position: relative;
    top: -43px;
    margin-left: 30px;
}

svg#croix {
    width: 16px;
    height: 16px;
}

svg#left_arrow {
    width: 18px;
    height: 20px;
}

/*envoi*/
.envoi {
    position: relative;
}

form#envoi {
    box-sizing : border-box;
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    padding: 20px 15px 0 15px;
}

button.terminer {
    display: block;
    margin : 0 auto;
}

.envoi input {
    width: 100%;
    border-radius: 17px;
    border: none;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
}

#envoi label{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

/*premium*/
.premium {
    margin: 0 15px 0 15px;
    position: relative;
}

.premium h2 {
    padding-left: 5px;
}

.avantages p, .premium p {
    text-align: center;
}

.avantages > .regles-premium > p, .avantages > .pas-pubs > p {
    text-align: left;
}

.pas-pubs, .regles-premium {

}

.pas-pubs h3, .pas-pubs figure, .regles-premium h3, .regles-premium figure {
    display: inline-block;
}

.pas-pubs figure, .regles-premium figure {
    margin-right: 20px;
}

.pas-pubs h3, .regles-premium h3 {
    margin: 0;
}

.pas-pubs p, .regles-premium p {
    padding-left: 120px;
    margin: 0;
}

.pas-pubs  h3, .pas-pubs p, .regles-premium h3, .regles-premium p {
    position: relative;
    top: -50px;
}

.pas-pubs, .regles-premium  {
    box-sizing : border-box;
    width: 100%;
    max-width: 1000px;
    margin:20px auto 0 auto;
    padding-top: 20px;
    position: relative;
    height: 150px;
}

.avantages h2 {
    box-sizing : border-box;
    width: 100%;
    max-width: 1000px;
    margin:20px auto 0 auto;
    padding-top: 20px;
    position: relative;
}

.demarrer-abonnement button {
    display: block;
    margin : 0 auto;
    width: 260px;
}

/*responsive*/
@media screen and (max-width: 2000px) {
    /*equipe*/
    h3#equipe, .contact > h3, .a-propos h3  {
        max-width: 600px;
    }

    .equipe {
        height: 300px;
        position: relative;
        margin: 0 auto;
        max-width: 665px;
    }

    .lena img, .marine img, .nina img {
        width: 130px;
        height: 130px;
    }
    .nina > address > p, .marine > address > p, .lena > address > p {
        font-size: 16px;
    }

    .lena > address > a, .marine > address > a, .nina > address > a{
        padding: 7px 15px 7px 15px;
        border-radius: 60px;
        font-size: 14px;
    }

    .lena {
        position: relative;
    }

    .marine {
        position: relative;
        left: 25px;
        top: -60px;
    }

    .nina {
        position: relative;
        left: 35px;
    }

    /*parametres*/
    .parametres a, .parametres_profil label, .parametres_profil a, .parametres_profil p,.mails h3  {
        padding-left: 80px;
    }

    .parametres .fa-chevron-right, .parametres_profil .fa-chevron-right {
        padding-left: 540px;
    }

    /*parametres mon profil*/
    .parametres_profil input, .mails input {
        margin-left:80px;
    }

    /*bouton*/
    ul#parametre_profil li:first-of-type button {
        position: relative;
        left: 495px
    }

    ul#parametre_profil li:nth-of-type(5) button{
        position: relative;
        left: 535px;
    }

    ul#parametre_profil li:nth-of-type(6) button{
        position: relative;
        left: 490px;
    }

    /*mails*/
    .mails label {
        padding-left:40px;
    }
}

@media screen and (max-width: 768px) {
    /*equipe*/
    h3#equipe, .contact > h3, .a-propos h3  {
        max-width: 300px;
    }

    .equipe {
        height: 240px;
        position: relative;
        margin: 0 auto;
        max-width: 440px;
    }

    .lena img, .marine img, .nina img {
        width: 110px;
        height: 110px;
    }

    .nina > address > p, .marine > address > p, .lena > address > p {
        font-size: 14px;
    }

    .lena > address > a, .marine > address > a, .nina > address > a{
        padding: 7px 15px 7px 15px;
        border-radius: 60px;
        font-size: 12px;
    }

    .nina, .marine, .lena {
        position: absolute;
    }

    .marine {
        left: 125px;
        top: -60px;
    }

    .nina {
        left: 250px;
    }

    /*parametres, parametres mon profil, mails */
    .parametres a, .parametres_profil label, .parametres_profil a, .parametres_profil p, .mails h3 {
        padding-left: 50px;
    }

    .parametres .fa-chevron-right, .parametres_profil .fa-chevron-right {
        padding-left: 250px;
    }

    /*parametres mon profil, mails*/
    .parametres_profil input, .mails input {
        margin-left:50px;
    }

    /*mails*/
    .mails label {
        padding-left:40px;
    }


    /*bouton*/
    ul#parametre_profil li:first-of-type button {
        position: relative;
        left: 245px
    }

    ul#parametre_profil li:nth-of-type(5) button{
        position: relative;
        left: 285px;
    }

    ul#parametre_profil li:nth-of-type(6) button{
        position: relative;
        left: 240px;
    }
}

@media screen and (max-width: 480px){
    /*equipe*/
    h3#equipe, .contact > h3, .a-propos h3 {
        max-width: 115px;
    }

    .equipe {
        height: 200px;
        position: relative;
        margin: 0 auto;
        max-width: 372px;
    }

    .lena img, .marine img, .nina img {
        width: 90px;
        height:90px;
    }

    .nina > address > p, .marine > address > p, .lena > address > p {
        font-size: 12px;
        margin: 0;
    }

    .nina > address > a, .marine > address > a, .lena > address > a {
        padding: 5px 10px 5px 10px;
        border-radius: 60px;
        font-size: 10px;
    }

    .nina, .marine, .lena {
        position: absolute;
    }

    .marine {
        left: 100px;
        top: -40px;
    }

    .nina {
        left: 200px;
    }

    /* a propos---non-fini*/
    .a-propos {
        max-width: 400px;
        max-height: 440px;
    }

    /*parametres*/
    .parametres a {
        padding-left:20px;
    }

    .parametres .fa-chevron-right, .parametres_profil .fa-chevron-right  {
        padding-left: 80px;
    }

    /*parametres mon profil, mails*/
    .parametres_profil input, .mails input {
        margin-left:20px;
    }

    .parametres_profil label, .parametres_profil a, .parametres_profil p, .mails h3 {
        padding-left:20px;
    }

    .mails label {
        padding-left:10px;
    }

    /*bouton*/
    ul#parametre_profil li:first-of-type button {
        position: relative;
        left: 100px
    }

    ul#parametre_profil li:nth-of-type(5) button{
        position: relative;
        left: 140px;
    }

    ul#parametre_profil li:nth-of-type(6) button{
        position: relative;
        left: 95px;
    }
}


