/*------menu------*/
.menu {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu ul {
    list-style-type: none;
}

.fa-chevron-right {
    color: #000000;
}

/*------logo------*/
img#logo {
    width: 120px;
    height: 50px;
}

/*------textes------*/
p{
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
}
/*------rechercher------*/
svg#loupe {
    fill: #A8D9DC;
    width: 19px;
    height: 21px;
}

.recherche button {
    background-color: white;
    border: none;
    border-radius: 50%;
}

input#maRecherche {
    font-family: Roboto;
    font-weight: 500;
    color: #CF4C68;
    border: none;
    height: 25px;
    font-size: 13px;
    width: 125px;
}

/*------notifications------*/
svg#notif {
    fill: #CF4C68;
    width: 30px;
    height: 30px;
    padding: 5px 5px 5px 0;
}

.notifications button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 10px 0 10px;
}

/*-----vendre jeu------*/
svg#plus {
    fill: #CF4C68;
    width:30px;
    height: 30px;
    padding-top: 5px;
}

.vendre-jeu button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 10px 0 45px;
}

#vendre-jeux label {
    color: #707070;
    font-family: Roboto;
    font-weight: 500;
}

#vendre-jeux input {
    color: black;
    font-family: Roboto;
    font-weight: 400;
    background-color: #E4E4E4;
}

/*------catégories------*/
.j-cartes, .j-pions, .j-de-plateau, .j-des {
    font-family: Roboto;
    font-weight: 900;
    color: #000;
    border: 3px solid #cf4c68;
    background-color: white;
    border-radius: 30px;
}

.categories h2 {
    font-size: 15px;
}

main.index a {
    text-decoration: none;
}

.jeux a {
    text-decoration: none;
}

/*jeux cartes*/
#dooble,#bataille, #loup-garou, #jeu-dames {
    font-family: Roboto;
    font-weight: 900;
    color: #000;
    border: 3px solid #cf4c68;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.jeux {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    box-sizing : border-box;
    width: 100%;
    max-width: 310px;
    margin:0 auto;
}
/*------titres------*/
h1 {
    font-family: Roboto;
    font-weight: 500;
    color: #000;
    font-size: 18px;
}



/*------footer------*/
footer ul {
    list-style-type: none;
}

footer a {
    font-family: Roboto;
    font-weight: 300;
    color: #000;
    font-size: 12px;
}

footer p {
    font-family: Roboto;
    font-weight: 500;
    color: #000;
    font-size: 13px;
}

svg#Bold {
    fill: #000000;
}

/*------instagram------*/
svg.feather.feather-instagram {
    stroke: #000000;
}

/*------mail------*/
svg#Capa_1 {
    stroke: #000000;
    fill : #000000;
}

/*------bouton retour------*/
svg#left_arrow {
    fill: #000000;
    width: 55px;
    height: 60px;
    padding-right: 5px;
    padding-top: 5px;
}

.retour button {
    background-color: white;
    border: none;
    border-radius: 50%;
}

/*------bouton ajouter photos------*/
svg#plus_ajouter {
    fill: #FFFFFF;
    width: 35px;
    height: 35px;
    padding-bottom: 7px;
    padding-right:10px;
}

.ajouter-des-photos {
    margin-top: 20px;
    margin-left: 20px;
}

.ajouter-des-photos a {
    background-color: #CF4C68;
    border: none;
    border-radius: 25px;
    padding: 35px 20px 0 20px;
    width: 50px;
}

svg#plus_ajouter, .ajouter-des-photos p {
    display: inline-block;
}

.ajouter-des-photos p {
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 17px;
}

/*------bouton ajouter jeu------*/

.ajouter button {
    background-color: #CF4C68;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    font-size: 15px;
}


.ajouter a {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:15px;
}
/*------Paramètres------*/
.parametres {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
}

.parametres a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.parametres > ul > li:nth-of-type(5) > a { /*non fini*/
    color: #E22424;
}

.parametres ul {
    list-style-type: none;
}

/*------Mentions légales------*/

.mentions-legales h1 {
    font-family: Roboto;
    font-weight: 700;
}

.mentions-legales h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 15px;
}

.mentions-legales p {
    font-family: Roboto;
    font-weight: 400;
    text-align: justify;
}

/*croix*/
svg#croix {
    fill: #000000;
    width: 55px;
    height: 60px;
    padding: 10px;
}

.croix button {
    background-color: #1fe0;
    border: none;
    border-radius: 50%;
}

/*------a propos------*/
.a-propos > p {
    color: black;
    font-family: Roboto;
    font-weight: 400;
}

#titre h3, .contact > h3 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    background-color: #CF4C68;
}

h3#equipe {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
    background-color: white;
}


/*L'équipe*/
.lena > address > p {
    color: #76A0A3;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
}

.lena > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    background-color: #76A0A3;
    font-style: normal;
}

.marine> address > p {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
}


.marine > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    background-color: #CF4C68;
    font-style: normal;
}

.nina > address > p {
    color: #E7A52E;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
}

.nina > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    background-color: #E7A52E;
    font-style: normal;
}

/* contact*/
.formulaire_contact input#mail2, .formulaire_contact input#nom, .formulaire_contact input#prenom, .formulaire_contact textarea#msg{
    color: #666666;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
}

form#contact {
    background-color: #FCBAC5;
}

button.envoyer {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    background-color: #cf4c68;
    border-radius: 13px;
    border: none;
    height: 30px;
    width: 120px;
    margin-top: 10px;
}
button.publier {
    color: #cf4c68;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: none;
    height: 30px;
    width: 120px;
    margin-top: 10px;
}

/*------premium------*/
h2, h3 {
    color: black;
    font-family: Roboto;
    font-weight: 500;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

.premium p {
    color: black;
    font-family: Roboto;
    font-weight: 400;
}

.regles-premium, .pas-pubs {
    border: 2px solid #E4E4E4;
    border-radius: 18px;
    background-color: white;
}

/*bouton s'abonner*/
.demarrer-abonnement button {
    background-color: #CF4C68;
    border: none;
    border-radius: 17px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 50px;
    width: 300px;
    font-size:14px;
}

.demarrer-abonnement a {
    text-decoration: none;
    color: white;
}

/*------mon profil------*/

/* bouton réglages*/
.profil svg#reglages {
    fill: #000000;
    width: 24px;
    height: 24px;    padding: 0;
}

.profil button {
    background-color: white;
    border: none;
    padding: 0;
}

.porte-monnaie svg#reglages {
    fill: #FFFFFF;
    width: 24px;
    height: 24px;
    float: right;
    background-color: #cf4c68;
}

.porte-monnaie button {
    border: none;
    padding: 0;
}

h4 {
    color: black;
    font-family: Roboto;
    font-weight: 500;
}


.porte-monnaie h4 {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 500;
    background-color: #CF4C68;
}

/*------réseaux sociaux------*/
.reseaux.module-footer li {
    display: inline-block;
}

/*------mon profil, envoi------*/
ul#parametre_profil, ul#parametre_profil p, ul#parametre_profil a, #envoi label  {
    list-style-type: none;
    color: black;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

.parametres_profil input, #envoi input {
    background-color:#76A0A3;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    border: none;
}

/*------categories------*/
.ajouter-un-jeu button {
    background-color: #CF4C68;
    border: none;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    font-size:15px;
}

.ajouter-un-jeu a {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:15px;
}

/*------porte-monnaie------*/
button.transfert {
    background-color: #76a0a3;
    border: none;
    border-radius: 40px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    font-size:15px;
}

/*------parametres mon profil------*/
ul#parametre_profil button {
    background-color: #ffffff;
    border-radius: 10px;
    font-family: Roboto;
    font-weight: 500;
    color: #76a0a3;
    height: 35px;
    width: 70px;
    margin-top: 10px;
    border: 3px solid #76a0a3;
    font-size:17px;
    text-decoration: none;
}

/*------envoi------*/
button.terminer {
    background-color: #CF4C68;
    border: none;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    font-size:17px;
}

/*------mails------*/
.mails label {
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
}

.mails h3 {
    color: #707070;
    font-size: 17px;
}

/*------regles------*/
.regle ul {
    list-style-type: none;
}

.regle li, .variante p, .variante li {
    color: black;
    font-family: Roboto;
    font-weight: 400;
    list-style-type: none;
    font-size:15px;
}

.regle h4, .variante h4 {
    color: #CF4C68;
}

/*bouton regles*/
.regle button {
    background-color: #E6A4B2;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    font-size:15px;
}

.regle a {
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:15px;
}
/*boutons "ajouter"*/
button.ajouter {
    background-color: #CF4C68;
    border-radius: 17px;
}

/*bouton pour acheter le jeu*/
button.acheter-lien {
    background-color: #CF4C68;
    border-radius: 17px;
}

.acheter-lien a {
    color: white;
    font-size:17px;
    font-family: Roboto;
    font-weight: 500;
}

/*bouton ajouter variante*/
button.ajouter-variante  {
    background-color: #CF4C68;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    margin-top: 10px;
}

button.ajouter-variante a {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:17px;
}

/*bouton variante*/
.variante a {
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:15px;
}

button.variante  {
    background-color: #76a0a3;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    margin-top: 10px;
}

/*------ajouter une variante------*/
.variante label {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
}

.variante textarea#variante {
    font-family: Roboto;
    font-weight: 400;
}

/*------page connexion------*/
#container {
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
}

#id, #mdp {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    background-color: #FFE9AA;
}

form#inscription .mdp p {
    font-size: 10px;
    margin-bottom: 5px;
}

button.connexion {
    background-color: #CF4C68;
    border: none;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    margin-top: 10px;
}

.je-m-inscris a {
    color: white;
    text-decoration: none;
}

#container >form > a {
    color: #76A0A3;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
}

#container p {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}

#container a {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

#container a, #container p {
    display: inline-block;
}

/*------pages inscription------*/
input#prenom\/nom, input#age, input#id, input#mail, input#mdp {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    background-color: #FFE9AA;
}

#inscription p {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}

button.je-m-inscris {
    background-color: #CF4C68;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 30px;
    width: 150px;
    margin-top: 10px;
}


/*------mot de passe oublié------*/
.mdp-oublie {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}

input#mdp-o {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    background-color: #FFE9AA;
}

button.mdp-o {
    background-color: #CF4C68;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 30px;
    width: 150px;
    margin-top: 10px;
}

/*------ajouter regle------*/
#ajouter-regle label {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
}

#ajouter-regle input, textarea, #ajouter-regle select {
    color: black;
    font-family: Roboto;
    font-weight: 400;
    background-color: #E4E4E4;
}

button.ajouter-le-jeu  {
    background-color: #CF4C68;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
}

input#nom-j, #vendre-jeux input {
    background-color: white;
    border: none;
}

p {
    color: black;
    font-family: Roboto;
    font-weight: 400;
}

/*commentaire*/
.commentaire {
    background-color: #cf4c68;
    border-radius:50px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.commentaire h2 {
    color: #FFFFFF;
}

input#poster_comm {
    color: #cf4c68;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: none;
    height: 30px;
    width: 180px;
    margin-top: 10px;
    padding: 0;
}

/*responsive*/
@media screen and (max-width: 3000px) {
    /*footer*/
    footer a {
        font-size: 14px;
    }

    footer p {
        font-size: 15px;
    }

    /*------facebook------*/
    svg#facebook {
        width: 50px;
        height: 80px;
    }
    /*------instagram------*/
    svg.feather.feather-instagram {
        width: 50px;
        height: 80px;
    }

    /*------mail------*/
    svg#Capa_1 {
        width: 50px;
        height: 80px;
    }

    /*------categories------*/
    .categories h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    /*footer*/
    footer a {
        font-size: 14px;
    }

    footer p {
        font-size: 15px;
    }

    /*------facebook------*/
    svg#facebook {
        width: 40px;
        height: 70px;
    }
    /*------instagram------*/
    svg.feather.feather-instagram {
        width: 40px;
        height: 70px;
    }

    /*------mail------*/
    svg#Capa_1 {
        width: 40px;
        height: 70px;
    }

    /*------categories------*/
    .categories h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px){
    /*footer*/
    footer a {
        font-size: 12px;
    }

    footer p {
        font-size: 13px;
    }
    /*------facebook------*/
    svg#facebook {
        width: 31px;
        height: 50px;
    }
    /*------instagram------*/
    svg.feather.feather-instagram {
        width: 35px;
        height: 50px;
    }

    /*------mail------*/
    svg#Capa_1 {
        width: 35px;
        height: 50px;
    }

    /*------categories------*/
    .categories h2 {
        font-size: 15px;
    }
}