/*------menu------*/
.menu {
    font-family: Roboto;
    font-weight: 500;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu ul {
    list-style-type: none;
}

.fa-chevron-right {
    color: #000000;
}


/*------rechercher------*/
svg#loupe {
    fill: #A8D9DC;
    width: 55px;
    height: 79px;
}

.recherche button {
    background-color: white;
    border: none;
    border-radius: 50%;
}

input#maRecherche {
    font-family: Roboto;
    font-weight: 500;
    color: #CF4C68;
   /* border: none;*/
    height: 25px;
}

/*------notifications------*/
svg#notif {
    fill: #CF4C68;
    width: 55px;
    height: 60px;
    padding: 5px;
}

.notifications button {
    background-color: white;
    /*border: none;*/
    border-radius: 50%;
}

/*-----vendre jeu------*/
svg#plus {
    fill: #CF4C68;
    width: 55px;
    height: 60px;
    padding: 5px;
}

.vendre-jeu button {
    background-color: white;
    /*border: none;*/
    border-radius: 50%;
}


/*------catégories------*/
.j-cartes, .j-pions, .j-de-plateau, .j-des {
    font-family: Roboto;
    font-weight: 900;
    color: #000;
}

main.index a {
    text-decoration: none;
}

/*------titres------*/
h1 {
    font-family: Roboto;
    font-weight: 500;
    color: #000;
}



/*------footer------*/
footer ul {
    list-style-type: none;
}

footer a {
    font-family: Roboto;
    font-weight: 300;
    color: #000;
}

footer p {
    font-family: Roboto;
    font-weight: 500;
    color: #000;
}

svg#Bold {
    fill: #000000;
}

/*------instagram------*/
svg.feather.feather-instagram {
    stroke: #000000;
}

/*------mail------*/
svg#Capa_1 {
    stroke: #000000;
    fill : #000000;
    width: 55px;
    height: 79px;
}

/*------bouton retour------*/
svg#left_arrow {
    fill: #000000;
    width: 55px;
    height: 60px;
    padding-right: 5px;
    padding-top: 5px;
}

.retour button {
    background-color: white;
    /*border: none;*/
    border-radius: 50%;
}

/*------bouton ajouter photos------ NON FINI*/
svg#plus_ajouter {
    fill: #FFFFFF;
    width: 55px;
    height: 60px;
}

.ajouter-des-photos {
    margin-top: 20px;
    margin-left: 20px;
}

.ajouter-des-photos a {
    background-color: #CF4C68;
    border: none;
    border-radius: 22%;
    padding: 50px 20px 0 20px;
    width: 50px;
}

svg#plus_ajouter, .ajouter-des-photos p {
    display: inline-block;
}

.ajouter-des-photos p {
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
}

/*------bouton ajouter jeu------ NON FINI*/

.ajouter-le-jeu button {
    background-color: #CF4C68;
    border: none;
    border-radius: 22%;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 50px;
    width: 150px;
}

/*------Paramètres------*/
.parametres {
    font-family: Roboto;
    font-weight: 500;
}

.parametres a {
    text-decoration: none;
    color: #000;
}

.parametres ul {
    list-style-type: none;
}

/*------Mentions légales------*/

.mentions-legales h3 {
    font-family: Roboto;
    font-weight: 700;
}

.mentions-legales p {
    font-family: Roboto;
    font-weight: 400;
}

/*croix*/
svg#croix {
    fill: #000000;
    width: 55px;
    height: 60px;
    padding: 10px;
}

.retour button {
    background-color: white;
    /*border: none;*/
    border-radius: 50%;
}

/*------à propos------*/
.a-propos > p {
    color: black;
    font-family: Roboto;
    font-weight: 500;
}

.a-propos > h3, .contact > h3 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    background-color: #CF4C68;
}

.equipe > h3 {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
    background-color: white;
}


/*L'équipe*/
.lena > address > p {
    color: #76A0A3;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    font-style: normal;
}

.lena > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    background-color: #76A0A3;
    font-style: normal;
}

.marine> address > p {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    font-style: normal;
}


.marine > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    background-color: #CF4C68;
    font-style: normal;
}

.nina > address > p {
    color: #E7A52E;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    font-style: normal;
}

.nina > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    background-color: #E7A52E;
    font-style: normal;
}

/* contact*/
input#mail2, input#nom, input#prenom, textarea#msg{
    color: #666666;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
}

form#contact {
    background-color: #FCBAC5;
}

button.envoyer {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    background-color: #CF4C68;
}