/*------menu------*/
/*------menu------*/
.norma .menu {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
}

.norma .menu a {
    text-decoration: none;
    color: #000;
}

.norma .menu ul {
    list-style-type: none;
}

.norma .fa-chevron-right {
    color: #000000;
}

/*------logo------*/
.norma img#logo {
    width: 120px;
    height: 50px;
}

/*------textes------*/
.norma p{
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
}
/*------rechercher------*/
.norma svg#loupe {
    fill: #A8D9DC;
    width: 19px;
    height: 21px;
}

.norma .recherche button {
    background-color: white;
    border: none;
    border-radius: 50%;
}

.norma input#maRecherche {
    font-family: Roboto;
    font-weight: 500;
    color: #CF4C68;
    border: none;
    height: 25px;
    font-size: 13px;
    width: 125px;
}

/*------notifications------*/
.norma svg#notif {
    fill: #CF4C68;
    width: 30px;
    height: 30px;
    padding: 5px 5px 5px 0;
}

.norma .notifications button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 10px 0 10px;
}

/*-----vendre jeu------*/
.norma svg#plus {
    fill: #CF4C68;
    width:30px;
    height: 30px;
    padding-top: 5px;
}

.norma .vendre-jeu button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 10px 0 45px;
}

.norma #vendre-jeux label {
    color: #707070;
    font-family: Roboto;
    font-weight: 500;
}

.norma #vendre-jeux input {
    color: black;
    font-family: Roboto;
    font-weight: 400;
    background-color: #E4E4E4;
}

/*------catégories------*/
.norma .j-cartes, .norma .j-pions, .norma .j-de-plateau, .norma .j-des {
    font-family: Roboto;
    font-weight: 900;
    color: #000;
    border: 3px solid #cf4c68;
    background-color: white;
    border-radius: 30px;
}

.norma .categories h2 {
    font-size: 15px;
}

.norma main.index a {
    text-decoration: none;
}

.norma .jeux a {
    text-decoration: none;
}

/*jeux cartes*/
.norma #dooble, .norma #bataille, .norma #loup-garou, .norma #jeu-dames {
    font-family: Roboto;
    font-weight: 900;
    color: #000;
    border: 3px solid #cf4c68;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.norma .jeux {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    box-sizing : border-box;
    width: 100%;
    max-width: 310px;
    margin:20px auto 0 auto;
    text-align: center;
}

.norma #dooble-visit h3, .norma #loup-garou-visit h3, .norma #bataille-visit h3, .norma #jeu-dames-visit h3 {
    text-align: center;
}

/*------titres------*/
.norma h1 {
    font-family: Roboto;
    font-weight: 500;
    color: #000;
    font-size: 18px;
}



/*------footer------*/
.norma footer ul {
    list-style-type: none;
}

.norma footer a {
    font-family: Roboto;
    font-weight: 300;
    color: #000;
    font-size: 12px;
}

.norma footer p {
    font-family: Roboto;
    font-weight: 500;
    color: #000;
    font-size: 13px;
}

.norma svg#Bold {
    fill: #000000;
}

/*------instagram------*/
.norma svg.feather.feather-instagram {
    stroke: #000000;
}

/*------mail------*/
.norma svg#Capa_1 {
    stroke: #000000;
    fill : #000000;
}

/*------bouton retour------*/
.norma svg#left_arrow {
    fill: #000000;
    width: 55px;
    height: 60px;
    padding-right: 5px;
    padding-top: 5px;
}

.norma .retour button {
    background-color: white;
    border: none;
    border-radius: 50%;
}

/*------bouton ajouter photos------*/
.norma svg#plus_ajouter {
    fill: #FFFFFF;
    width: 35px;
    height: 35px;
    padding-bottom: 7px;
    padding-right:10px;
}

.norma .ajouter-des-photos {
    margin-top: 20px;
    margin-left: 20px;
}

.norma .ajouter-des-photos a {
    background-color: #CF4C68;
    border: none;
    border-radius: 25px;
    padding: 35px 20px 0 20px;
    width: 50px;
}

.norma svg#plus_ajouter, .norma .ajouter-des-photos p {
    display: inline-block;
}

.norma .ajouter-des-photos p {
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 17px;
}

/*------bouton ajouter jeu------*/

.norma .ajouter button {
    background-color: #CF4C68;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    font-size: 15px;
}


.norma .ajouter a {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:15px;
}
/*------Paramètres------*/
.norma .parametres {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
}

.norma .parametres a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.norma .parametres > ul > li:nth-of-type(5) > a { /*non fini*/
    color: #E22424;
}

.norma .parametres ul {
    list-style-type: none;
}

.parametres button {
    text-decoration: none;
    border: none;
    color: black;
    background-color: white;
    font-size: 17px;
    font-family: Roboto;
    font-weight: 500;
}

/*------Mentions légales------*/

.norma .mentions-legales h1 {
    font-family: Roboto;
    font-weight: 700;
}
.norma .mentions-legales h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 15px;
}

.norma .mentions-legales p {
    font-family: Roboto;
    font-weight: 400;
    text-align: justify;
}

/*croix*/
.norma svg#croix {
    fill: #000000;
    width: 55px;
    height: 60px;
    padding: 10px;
}

.norma .croix button {
    background-color: #1fe0;
    border: none;
    border-radius: 50%;
}

/*------a propos------*/
.norma .a-propos > p {
    color: black;
    font-family: Roboto;
    font-weight: 400;
}

.norma #titre h3, .norma .contact > h3 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    background-color: #CF4C68;
}

.norma h3#equipe {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
    background-color: white;
}


/*L'équipe*/
.norma .lena > address > p {
    color: #76A0A3;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
}

.norma .lena > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    background-color: #76A0A3;
    font-style: normal;
}

.norma .marine> address > p {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
}


.norma .marine > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    background-color: #CF4C68;
    font-style: normal;
}

.norma .nina > address > p {
    color: #E7A52E;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
}

.norma .nina > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    background-color: #E7A52E;
    font-style: normal;
}

/* contact*/
.norma .formulaire_contact input#mail2, .norma .formulaire_contact input#nom, .norma .formulaire_contact input#prenom, .norma .formulaire_contact textarea#msg{
    color: #666666;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
}

.norma form#contact {
    background-color: #FCBAC5;
}

.norma button.envoyer {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    background-color: #cf4c68;
    border-radius: 13px;
    border: none;
    height: 30px;
    width: 120px;
    margin-top: 10px;
}
.norma button.publier {
    color: #cf4c68;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: none;
    height: 30px;
    width: 120px;
    margin-top: 10px;
}

/*------premium------*/
.norma h2, .norma h3 {
    color: black;
    font-family: Roboto;
    font-weight: 500;
}

.norma h2 {
    font-size: 18px;
}

.norma h3 {
    font-size: 14px;
}

.norma .premium p {
    color: black;
    font-family: Roboto;
    font-weight: 400;
}

.norma .regles-premium, .norma .pas-pubs {
    border: 2px solid #E4E4E4;
    border-radius: 18px;
    background-color: white;
}

/*bouton s'abonner*/
.norma .demarrer-abonnement button {
    background-color: #CF4C68;
    border: none;
    border-radius: 17px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 50px;
    width: 300px;
    font-size:14px;
}

.norma .demarrer-abonnement a {
    text-decoration: none;
    color: white;
}

/*------mon profil------*/

/* bouton réglages*/
.norma .profil svg#reglages {
    fill: #000000;
    width: 24px;
    height: 24px;    padding: 0;
}

.norma .profil button {
    background-color: white;
    border: none;
    padding: 0;
}

.norma .porte-monnaie svg#reglages {
    fill: #FFFFFF;
    width: 24px;
    height: 24px;
    float: right;
    background-color: #cf4c68;
}

.norma .porte-monnaie button {
    border: none;
    padding: 0;
}

.norma h4 {
    color: black;
    font-family: Roboto;
    font-weight: 500;
}


.norma .porte-monnaie h4 {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 500;
    background-color: #CF4C68;
}

/*------réseaux sociaux------*/
.norma .reseaux.module-footer li {
    display: inline-block;
}

/*------mon profil, envoi------*/
.norma ul#parametre_profil, .norma ul#parametre_profil p, .norma ul#parametre_profil a, .norma #envoi label  {
    list-style-type: none;
    color: black;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

.norma .parametres_profil input, .norma #envoi input {
    background-color:#76A0A3;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    border: none;
}

/*------categories------*/
.norma .ajouter-un-jeu button {
    background-color: #CF4C68;
    border: none;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    font-size:15px;
}

.norma .ajouter-un-jeu a {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:15px;
}

/*------porte-monnaie------*/
.norma button.transfert {
    background-color: #76a0a3;
    border: none;
    border-radius: 40px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    font-size:15px;
}

/*------parametres mon profil------*/
.norma ul#parametre_profil button {
    background-color: #ffffff;
    border-radius: 10px;
    font-family: Roboto;
    font-weight: 500;
    color: #76a0a3;
    height: 35px;
    width: 70px;
    margin-top: 10px;
    border: 3px solid #76a0a3;
    font-size:17px;
    text-decoration: none;
}

/*------envoi------*/
.norma button.terminer {
    background-color: #CF4C68;
    border: none;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    font-size:17px;
}

/*------mails------*/
.norma .mails label {
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
}

.norma .mails h3 {
    color: #707070;
    font-size: 17px;
}

/*------regles------*/
.norma .regle ul {
    list-style-type: none;
}

.norma .regle li, .norma .variante p, .norma .variante li {
    color: black;
    font-family: Roboto;
    font-weight: 400;
    list-style-type: none;
    font-size:15px;
}

.norma .regle h4, .norma .variante h4 {
    color: #CF4C68;
}

/*bouton regles*/
.norma .regle button {
    background-color: #E6A4B2;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    font-size:15px;
}

.norma .regle button {
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:15px;
}
/*boutons "ajouter"*/
.norma button.ajouter {
    background-color: #CF4C68;
    border-radius: 17px;
}

/*bouton pour acheter le jeu*/
.norma button.acheter-lien {
    background-color: #CF4C68;
    border-radius: 17px;
}

.norma .acheter-lien a {
    color: white;
    font-size:17px;
    font-family: Roboto;
    font-weight: 500;
}

/*bouton ajouter variante*/
.norma button.ajouter-variante  {
    background-color: #CF4C68;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    margin-top: 10px;
}

.norma button.ajouter-variante a {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:17px;
}

/*bouton variante*/
.norma .variante a {
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    font-size:15px;
}

.norma button.variante  {
    background-color: #76a0a3;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    font-size: 15px;
}

/*------ajouter une variante------*/
.norma .variante label {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
}

.norma .variante textarea#variante {
    font-family: Roboto;
    font-weight: 400;
}

/*------page connexion------*/
.norma #container {
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
}

.norma #id, .norma #mdp {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    background-color: #FFE9AA;
}

.norma form#inscription .mdp p {
    font-size: 10px;
    margin-bottom: 5px;
}

.norma button.connexion {
    background-color: #CF4C68;
    border: none;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
    margin-top: 10px;
}

.norma .je-m-inscris a {
    color: white;
    text-decoration: none;
}

.norma #container >form > a {
    color: #76A0A3;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
}

.norma #container p {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}

.norma #container a {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

.norma #container a, .norma #container p {
    display: inline-block;
}

/*------pages inscription------*/
.norma input#prenom\/nom, .norma input#age, .norma input#id, .norma input#mail, .norma input#mdp {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    background-color: #FFE9AA;
}

.norma #inscription p {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}

.norma button.je-m-inscris {
    background-color: #CF4C68;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 30px;
    width: 150px;
    margin-top: 10px;
}


/*------mot de passe oublié------*/
.norma .mdp-oublie {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}

.norma input#mdp-o {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    background-color: #FFE9AA;
}

.norma button.mdp-o {
    background-color: #CF4C68;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 30px;
    width: 150px;
    margin-top: 10px;
}

/*------ajouter regle------*/
.norma #ajouter-regle label {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
}

.norma #ajouter-regle input, .norma textarea, .norma #ajouter-regle select {
    color: black;
    font-family: Roboto;
    font-weight: 400;
    background-color: #E4E4E4;
}

.norma button.ajouter-le-jeu  {
    background-color: #CF4C68;
    border: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    height: 40px;
    width: 150px;
}

.norma input#nom-j,.norma #vendre-jeux input {
    background-color: white;
    border: none;
}

.norma p {
    color: black;
    font-family: Roboto;
    font-weight: 400;
}

/*commentaire*/
.norma .commentaire {
    background-color: #cf4c68;
    border-radius:50px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.norma .commentaire h2 {
    color: #FFFFFF;
}

.norma input#poster_comm {
    color: #cf4c68;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: none;
    height: 30px;
    width: 180px;
    margin-top: 10px;
    padding: 0;
}

/*responsive*/
@media screen and (max-width: 3000px) {
    /*footer*/
    .norma footer a {
        font-size: 14px;
    }

    .norma footer p {
        font-size: 15px;
    }

    /*------facebook------*/
    .norma svg#facebook {
        width: 50px;
        height: 80px;
    }
    /*------instagram------*/
    .norma svg.feather.feather-instagram {
        width: 50px;
        height: 80px;
    }

    /*------mail------*/
    .norma svg#Capa_1 {
        width: 50px;
        height: 80px;
    }

    /*------categories------*/
    .norma .categories h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    /*footer*/
    .norma footer a {
        font-size: 14px;
    }

    .norma footer p {
        font-size: 15px;
    }

    /*------facebook------*/
    .norma svg#facebook {
        width: 40px;
        height: 70px;
    }
    /*------instagram------*/
    .norma svg.feather.feather-instagram {
        width: 40px;
        height: 70px;
    }

    /*------mail------*/
    .norma svg#Capa_1 {
        width: 40px;
        height: 70px;
    }

    /*------categories------*/
    .norma .categories h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px){
    /*footer*/
    .norma footer a {
        font-size: 12px;
    }

    .norma footer p {
        font-size: 13px;
    }
    /*------facebook------*/
    .norma svg#facebook {
        width: 31px;
        height: 50px;
    }
    /*------instagram------*/
    .norma svg.feather.feather-instagram {
        width: 35px;
        height: 50px;
    }

    /*------mail------*/
    .norma svg#Capa_1 {
        width: 35px;
        height: 50px;
    }

    /*------categories------*/
    .norma .categories h2 {
        font-size: 15px;
    }
}